body {

    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #e5e5e5;
}

h1, h2, h3, h4, h5, h6, {
    margin: 0;
}

/*Container*/

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;

}


/*Intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;

    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;


}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: #fff;
    margin: 60px auto;

}


.intro__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: #fff;
    margin-bottom: 15px;


}

/*Header*/
.header {
    padding-top: 20px;
    width: 100%;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;
    background-color: #eb8b8d ;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

    opacity: 90%;


    transform: translate3d(0, 0, 0);

/* transform для того чтобы менюшка не дергалась при скролле */
}

.header.active {
    background-color: #eb8b8d;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 700;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid #fff;

    padding: 8px 30px;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;

}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav.active {
    display: block;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    opacity: 0;

    background-color: #fce38a;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}


.nav__link:hover,
.nav__link.active {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

/* Page */


.page {
    overflow: hidden;
    /* убирает лишние части за границы экрана, при этом горизонтальный скролл не появляется */
}


/* Nav toggle */

.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;


    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;

}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;

    width: 100%;
    height: 3px;

    position: absolute;

    background-color: #ffffff;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}




.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #ffffff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}


.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active
.nav-toggle__item:before {
/*    transform-origin: left top;*/
    transform: rotate(45deg);
    top: 0;

/*    translate3D(0px, -2px, 0);*/
/*    top:0px;*/
/*трансформируем бургер при нажатии в перекрестие*/
}

.nav-toggle.active .nav-toggle__item:after {
/*    transform-origin: left bottom;*/
    transform: rotate(-45deg);
    top: 0;
/*    translate3D(0px, 3px, 0);*/
/*    top: 0px;*/
}



/*Slider*/

.slider {
    width: 100%;
    position:absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}


.slider__inner {
    display: flex;
    justify-content: space-between;

}

.slider__item {
    width: 22%;
    padding: 20px 0;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    border-top: 3px solid #fff;
    opacity: .7;

}
.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    height: 3px;
    width: 25%;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;

}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}



/*Section*/

.section {
    padding: 80px 0;


}

.section--devices {
    background: url("../images/devices_bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 0;
    margin-bottom: 40px;
}

.section--gray {
    background-color: #f8f8f8;

}

.section--clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    background: url("../images/WHAT_PEOPLE_SAY_bg.jpg") center no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
}



.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;

}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;

}

.section__title {
    font-size: 30px;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;

}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto;

}
.section__text {
    color: #999;
    margin-bottom: 80px;
}

.section--map {
    padding: 40px 0;
    background: url(../images/map.jpg) center no-repeat;
}


/*Card*/

.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card__item {
    width: 33.33333%;
    padding: 0 15px;

}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__item:hover .card__img {
    transform: translate3d(-10px, -10px, 0) /*фотка сдвигается при наведении*/
}

.card__item:hover .card__img img {  /*при наведении становится полупрозначной */
    opacity: .1;
}

.card__item:hover .card__text {
    opacity: 1; /*плавное появление надписи super team*/
}

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a); /*задается оранжевый градиент*/

    transition: transform .2s linear; /*скорость сдвига*/
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;  /*плавное появление прозрачности*/
}

.card__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;   /*скорость появления надписи*/
}

.card__info {
    text-align: center;
    margin-top: 25px;
}


.card__name {
    text-transform: uppercase;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}


.card__profession {
    color: #b3b3b3;
    font-style: italic;
    font-weight: 300;
}




/*Statistics*/

.statistics {
    background-color: #95e1d3;

}

.stat {
    display: flex;
    flex-wrap: wrap;

}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;


}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;

}

.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;

}


/*Services*/

.services {
    display: flex;
    flex-wrap: wrap; /* для переноса на следующую строку при судении экрана на мобильную версию */


}

.services__item {
    width: 33.33333%;

    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;

}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
}

.services__title {
    font-size: 14px;

    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333;

}

.services__text {
    font-size: 14px;
    color: #999;
}


/*Devices*/

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;

}

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;

}

.devices__item--iphone {
    position: absolute;
    bottom: -85px;
    right: -32px;
    z-index: 1;

}

/*We do*/

.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

}

.wedo__item {
    width: 50%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*  Accordion*/

.accordion {

}

.accordion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    cursor: pointer;
}

.accordion__item.active
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;
}


.accordion__item.active
.accordion__header:after {
    transform: translateY(-50%)
    rotate(-45deg);
    margin-top: 5px;

}

.accordion__header {
    border-bottom: 1px solid transparent;
    padding: 15px 20px 15px 60px;
    position: relative;
    cursor:  ;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;

    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 1;

    transform: translateY(-50%) /*компенсация сдвига на высоту иконки*/
    rotate(135deg); /*поворот на 45гр*/
}



.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%); /*компенсация сдвига на высоту иконки*/
}

.accordion__title {

    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    text-transform: uppercase;
    color: #333;
}

.accordion__content {
    padding: 15px 20px;
    display: none;

    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;

}


/* Reviews*/

.reviews {
    padding: 0 110px;
    position: relative;

}
.reviews__item {
    min-height: 210px; /*на случай если картинка обрезается снизу*/
    position: relative;
    padding-left: 255px;
}

.reviews__photo {
    display: block;

    width: 200px;
    height: 200px;

    position: absolute;

    border-radius: 50%;
    top: 50%;
    left: 0;

    z-index: 1;
    border: 2px solid #95e1d3;
    transform: translate3d(0, -50%, 0);
}

.reviews__text {
    font-size: 23px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0px; /*Определяет интервал между символами в пределах элемента. */
    color: #999;

    margin-bottom: 10px;
}

.reviews__autors {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;

}

.reviews__autors:before {
    content: "";
    display: inline-block;
    vertical-align: middle; /*выравнивание по вертикали (по середине)*/

    margin-right: 15px;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}


.slick-arrow {
    display: block;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);

}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;


}


.slick-prev {
    left: -70px;
    transform: rotate(-45deg);
    cursor: pointer;
}


.slick-next {
    right: -70px;
    transform: rotate(135deg);
    cursor: pointer;
}


/*Social*/

.social {
    display: flex;
    justify-content: center;

}



.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    font-size: 30px; /*в данном  случае этой командой увеличиваются иконки*/
    color: #f38181;
    line-height: 1;
    transition: background .2s linear, color .2s linear;

}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    background-color: #f38181;
    color: #fff;

}


/*Logos*/

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center; /*выравнивание объектов по горизонтальной линии (во флексах)*/
    margin: 0 -15px;
}

.logos__item {
    padding: 0 15px;
}

.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*Works*/

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image {
    opacity: .1;
}

.works__item:hover .works__info{
    opacity: 1;
}

.works__image {
    transition: opacity .15s linear;
    max-width: 100%;  /*появляется адаптивность картинок и при этом убирается горизонтальный скролл*/
    height: auto;
    display: block; /*убрал отступ внизу картинки*/
}

.works__info {
    width: 100%;
    padding: 0 15px;

    position: absolute;
    text-align: center;
    opacity: 0;
    color: #fff;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}


/*Clients*/



.clients {
    display: flex;
    flex-wrap: wrap;/* дивы перескакивают на следующую строку*/
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;

    margin-bottom: 60px;

}

.clients__photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;

}

.clients__name {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;

    padding-bottom: 12px;
}


.clients__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #333333;
}


.clients__text {
    color: #999999;
    font-weight: 600;

}
.clients__text:before {
    content: "";

    display: block;

    width: 60px;
    height: 3px;

    left: 100px;
    background: #f38181;
    margin: 15px 0;

}


/*Blog*/


.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.blog__item {
    width: 32%;
}


.blog__header {
    position: relative;
    margin-bottom: 15px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__content {
    margin-bottom: 10px;
}

.blog__date {

    padding: 10px 20px;
    background-color: #95e1d3;

    font-style: italic;
    color: #ffffff;
    position: absolute;
    font-weight: 300;
    text-align: center;

    bottom: 10px;
    left: -10px;
    z-index: 1;
}


.blog__date-day {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;

}

.blog__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    color: #999999;

}

.blog__footer {
    border-top: 1px solid #e5e5e5;

    font-weight: 300;
    font-style: italic;
    color: #999999;

    padding-top: 12px;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-stat__item i {
    color: #95e1d3;
}



/*Map*/


.map i {
    color: #f38181;

}


.map__title {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;

}

.map__title a {
    text-decoration: none;
    color: #f38181;
    vertical-align: center;

}

.map__title a:hover {
    text-decoration: underline;
}

.map__title:after {
    content: "";

    display: block;

    width: 60px;
    height: 3px;
    background: #f38181;

    margin: 15px  auto 0; /* auto делает полоску посередине относительно вертикальной линии*/

}



/* Footer */

.footer {
    padding-top: 65px;

    background-color: #f8f8f8;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 65px;
    margin: 0 -15px;
}

.footer__col {
    padding: 0 15px;
}

.footer__col--first {
    width: 40%;
}

.footer__col--second {
    width: 29%;
}

.footer__col--third {
    width: 22%;
}

.footer__title {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin: 30px 0;

}


.footer__logo {
    font-size: 46px;
    font-weight: 800;
    color: #cccccc;
    margin-bottom: 30px;

}

.footer__text {
    color: #999999;
    margin-bottom: 30px;

}

.footer__social {
    margin-bottom: 25px;
}


.footer__social-header {
    font-size; 14px;
    color: #333333;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;

}
.footer__social-header b {
    font-size: 18px;
    color: inherit;
}


.footer__social-content {
    font-weight: 300;
    font-style: italic;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #95e1d3;
}

.footer__social-content a:hover {
    color: #f38181;
}



/* Subscribe */

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;

}

.subscribe__input {
    width: 60%;
    height: 40px;
    padding: 12px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-right: 0;

    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    color: #333;
    line-height: 1.1;

}

.subscribe__input:focus {
    outline: 0; /* убирает обводку вокруг поля заполнения формы в активном состоянии */
    border-color: #95e1d3;
}

.subscribe__input::placeholder {
    color: #ccc;
    font-style: italic;
}

.subscribe__btn {
    width: 40%;

    height: 40px;
    padding: 12px 30px;

    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.1;

    background-color: #95e1d3;
    border: 0;
    cursor: pointer;

    transition: background .2s linear;

}

.subscribe__btn:hover {
    background-color: #4cbfaa;
}

.subscribe__btn:focus {
    outline: 0;
}


/* Blogs */


.blogs__item {
    display: flex;
    margin-bottom: 20px;
    align-items: center; /* Выровнили заголовок относительно картинки по центру */
}


.blogs__content {
    padding-left: 20px;
}

.blogs__content a {

}

.blogs__img {
    width: 150px;
    height: 80px;
}

.blogs__title {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    color: #999999;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
}


/* Instagram */


.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__item {
    width: 33%;
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}


.copyright {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    text-align: center;

    color: #333333;
    font-size: 14px;
    font-weight: 800px;

}

.copyright span {
    color: #f38181;
}









@media (max-width: 1230px) {

    /* Intro */

    .intro__suptitle {
        font-size: 52px;
    }
    .intro__title {
        font-size: 120px;
    }

    /* Reviews */

    .reviews__text {
        font-size: 20px;
    }
    .reviews__autors {
        font-size: 20px;
    }

}







@media (max-width: 990px) {

    /* Intro */

    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }

    /* Stat */

    .stat {
        justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.3333%;
        border: 0;
        padding: 30px 25px;
    }

    .stat__item:last-child {
        border: 0;
    }

    /* Services */

    .services__item {
        width: 50%;
        margin-bottom: 15px;
    }

    .services__item--border {
        border: 0;
    }

    /* Reviews */
    .reviews {
        padding: 0 60px;
    }

    .reviews__photo {
        width: 150px;
        height: 150px;
    }
    .reviews__item {
        padding-left: 175px;
    }

    .slick-prev {
        left: -40px;
    }
    .slick-next {
        right: -40px;
    }

    /* Clients */

    .clients {
        max-width: 600px;
        margin: 0 auto;
    }

    .clients__item {
        width: 100%;
        padding-right: 0;
    }

    /* Footer */


    .footer__col--first {

        width: 100%;
    }

    .footer__col--second,
    .footer__col--third {
        width: 50%;
    }

    /* Instagram */

    .instagram {
        justify-content: flex-start;
    }

    .instagram__item {
        width: auto;
        border-right: 1px solid #fff;
    }
}







@media (max-width: 770px) {

    /* Intro */

    .intro {
        min-height: 650px;
    }

    /* Header */

    .header {
        padding: 10px 0;
    }

    /* Nav */

    .nav {
        display: none;
        width: 100%;


        position: absolute;
        top: 100%;
        left: 0;

        background-color: #eb8b8d;
    }

    .nav__link {
        display: block;
/* block в данном случае сделал меню по вертикали */

        margin: 0;
        padding: 15px 20px;
    }

    .nav-toggle {
        display: block;
    }

    /* Card */

    .card {
        justify-content: center;
        margin-top: 30px;
    }
    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0px;
    }

    /* Slider */

    .slider__text {
        display: none;
    }

    /* Section */

    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

    .section__text {
        margin-bottom: 50px;
    }

    /* Services */

    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        margin-bottom: 10px;
        padding-left: 55px;
        padding-right: 0;
    }

    .services__icon {
        left: 5px;
    }

    /* Wedo    */

    .wedo__img {
        display: none;
    }

    .wedo__item {
        width: 100%;
    }

    /* Reviews */

    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
        transform: translate3d(0, 0, 0);
    }
    .reviews__item {
        padding-left: 0;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__autors {
        font-size: 16px;
    }

    .slick-prev {
        left: -40px;
    }
    .slick-next {
        right: -40px;
    }

     /* Logos */

    .logos {
        flex-wrap: wrap;
        justify-content: center;


    }

    .logos__item {
        width: 50%;
        margin-bottom: 15px;

    }

    .logos__img {
        margin: 0 auto;
    }

    /* Works */

    .works {
        flex-wrap: wrap;

    }
    .works__col {
        flex: none;
        width: 50%;
    }

    /* Blog    */

    .blog {
        max-width: 380px;
        margin: 0 auto;

    }

    .blog__item {

        width: 100%;
        margin-bottom: 30px;


    }
    .blog__item:last-child {
        margin-bottom: 0;
    }


    .blog__date {

    }

    .footer__col--second,
    .footer__col--third {
        width: 100%;
    }






}





@media (max-width: 575px) {

    /* Intro */


    .intro__suptitle {
        font-size: 22px;
    }
    .intro__title {
        font-size: 40px;
    }

     /* Section */

    .section__header {
        margin-bottom: 10px;
    }

    .section__suptitle {
        font-size: 20px;
    }
    .section__title {
        font-size: 24px;
    }
    .section__title::after {
        margin: 20px auto;
    }

     /* Stat */

    .stat__item {
        width: 100%;
        border-bottom: 1px solid #b5eae0;
    }
    .stat__item:last-child {
        border-bottom: 0;
    }
    .stat__count {
        font-size: 52px;
    }

    /* Devices */

    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        width: 180px;
        bottom: -60px;
        right: -80px;
    }


    /* Reviews */
    .reviews {
        padding: 0;
    }

    
    .slick-prev {
        left: 40px;
        top: 66px;
    }
    .slick-next {
        right: 40px;
        top: 66px;
    }


    /* Works */

    .works__col {
        width: 100%;
    }

    /* Clients */

    .clients__photo {
        position: static;
    }

    .clients__item {
        padding-left: 0;
        text-align: center;

    }

    .clients__item:last-child {
        margin-bottom: 0;
    }
    .clients__text:before {
        margin: 15px auto;
    }

     /* Blogs */

    .blogs__img {
        width: 80px;
        height: 50px;
    }
    .blogs__title {
        font-size: 12px;
    }


    /* Subscribe */

    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }

    .subscribe__input {
        border-right: 1px solid #e7e7e7;
        margin-bottom: 10px;
    }

    .subscribe__input,
    .subscribe__btn {
        width: 100%;

    }


}





